body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

button[type="submit"] {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 25px; /* Added border-radius for rounded edges */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"]:last-child {
    margin-bottom: 0;
}

/* Added spacing between buttons */
button[type="submit"] + button[type="submit"] {
    margin-top: 10px;
}